<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>uni-website</title>
  </head>
  <body>
    <noscript>
      <strong>Nous sommes désolé, mais le site de notre studio ne fonctionne pas proprement lorsque le Javascript est désactivé. Veuillez le réactiver pour pouvoir continuer la navigation dans de bonnes conditions.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
