<template>
  <div class="home">
    <section>
      <div class="wrap">
        <TitlePoint>Créateurs web</TitlePoint>
        <h3>Ensemble réussissons votre projet digital.</h3>
        <div class="container col-s-1 col-m-2">
          <p>
            Spécialisés dans le développement de sites et d’applications web, nous travaillons avec des entreprises de toutes tailles.
          </p>
        </div>
      </div>

      <div class="wrap">
        <TitlePoint>Créateurs web</TitlePoint>
        <h3>Ensemble réussissons votre projet digital.</h3>
        <div class="container col-s-1 col-m-2">
          <p>
            Spécialisés dans le développement de sites et d’applications web, nous travaillons avec des entreprises de toutes tailles.
          </p>
        </div>
      </div>

      <div class="wrap">
        <TitlePoint>Créateurs web</TitlePoint>
        <h3>Ensemble réussissons votre projet digital.</h3>
        <div class="container col-s-1 col-m-2">
          <p>
            Spécialisés dans le développement de sites et d’applications web, nous travaillons avec des entreprises de toutes tailles.
          </p>
        </div>
      </div>

      <div class="wrap">
        <TitlePoint>Créateurs web</TitlePoint>
        <h3>Ensemble réussissons votre projet digital.</h3>
        <div class="container col-s-1 col-m-2">
          <p>
            Spécialisés dans le développement de sites et d’applications web, nous travaillons avec des entreprises de toutes tailles.
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import TitlePoint from '@/components/elements/TitlePoint.vue'
    export default {
      name: 'home',
        components:{TitlePoint}
    }
</script>

<style lang="scss">
</style>
