<template>
    <div class="wrap">
        <h1 class="giant colored">Titre 1 : Le studio UNI est le meilleur</h1>
        <h1>Titre 1 : Le studio UNI est le meilleur</h1>
        <h2>Titre 2 : Le studio UNI est le meilleur</h2>
        <h3>Titre 3 : Le studio UNI est le meilleur</h3>
        <!--<h4>Titre 4,5,6 : Le studio UNI est le meilleur</h4>-->
        <p>
            Lorem ipsum dolor sit <a href="#">met, consectetur adipisicing elit.</a> Ad architecto atque cum eaque eveniet ex id, itaque magni nobis pariatur quos, recusandae repudi <strong>andae sit voluptas volupta</strong>tes! Cumque itaque minima suscipit.
        </p>
        <a href="#" class="link">Ceci est un lien</a>

        <Button>Click me ! </Button><br><br><br>
        <CallToAction>
            <template slot="label">
                Click here now
            </template>
            <template slot="icon">
                <Icon><Arrow></Arrow></Icon>
            </template>
        </CallToAction>
        <br><br><br>
        <h1>lalalala</h1>
    </div>
</template>

<script>
    import Button from "@/components/elements/Button"
    import CallToAction from "@/components/elements/CallToAction"
    import Icon from "@/components/elements/Icon"
    import Arrow from "@/components/icons/Arrow"
    export default {
        name: "Test",
        components: {Button, CallToAction, Icon, Arrow}
    }
</script>

<style scoped>

</style>
