<template>
    <button class="uni-button">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name: "Button"
    }
</script>

<style lang="scss">
    button.uni-button{
        outline:none;
        background: $main-color;
        text-transform:uppercase;
        border-radius:50px;
        color:white;
        font-size:$button-font-size;
        font-weight:600;
        padding:$s-s $s-m*1.5;
        transition: background .2s ease;
        &:hover{
            background: $main-color-dark;
        }
    }
</style>
