<template>
    <a :href="href" class="call-to-action">
        <div>
            <div>
                <slot name="label"></slot>
            </div>
            <div class="hoverEffect"></div>
            <div>
                <slot name="icon"></slot>
            </div>
        </div>
    </a>
</template>
<script>
    export default {
        name: "CtaButton",
        props:[
            'href'
        ]
    }
</script>

<style scoped lang="scss">
    .call-to-action{
        >div{
            background:$main-color;
            border-radius:100px;
            padding:8px 8px 8px $s-m*1.5;
            display:inline-flex;
            align-items:center;
            transition: all .2s ease;
            box-shadow:$shadow-orange;
            &:hover{
                background: $main-color-dark;
                box-shadow:none;
                transform:scale(0.95);
            }
            >div:first-child{
                color:$text-contrast-color;
                font-weight: 600;
                margin-right:$s-m;
                font-size:$button-font-size;
                text-transform: uppercase;
                letter-spacing:-0.1px;
            }
            >div:last-child{
                background:white;
                border-radius:100px;
                height:36px;
                width: 36px;
                display:flex;
                align-items:center;
                justify-content:center;
                background: $body-color;
                >svg{
                    height:18px;
                    width: 18px;
                    path,circle{
                        fill: $body-color;
                    }
                }
            }
        }
    }

</style>
