<template>
    <span :aria-label="ariaLabel" class="icon">
        <svg viewBox="0 0 24 24">
            <g>
                <slot></slot>
            </g>
        </svg>
    </span>
</template>

<script>
    export default {
        name: "Icon",
        props: {
            ariaLabel: {
                type: String,
                default: "icon",
            }
        }
    }
</script>

<style lang="scss">
    .icon {
        width: 24px;
        height: 24px;
        svg {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: baseline;
            margin-bottom: -2px;
        }
    }
</style>
