<template>
    <div>
        <router-link :to="{ name: 'home' }" class="logo-uni">
            <div>
                <svg viewBox="0 0 24 24">
                    <g>
                        <circle class="cls-1" cx="20.99" cy="5.15" r="2.17"/>
                        <path class="cls-1" d="M19.23,8.67v5.69L13.07,8.67H10v6a2.7,2.7,0,1,1-5.39,0v-6H.84v5.82a6.49,6.49,0,0,0,13,.42L20,20.4H23V8.67Z"/>
                    </g>
                </svg>
            </div>
            <h1>
                <span>uni</span><span>Studio web</span>
            </h1>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "LogoUni"
    }
</script>

<style scoped lang="scss">
    .logo-uni{
        div{
            display:flex;
            height:36px;
            width: 36px;
            background: $grey;
            border-radius:4px;
            align-items:center;
            justify-content:center;
        }
        display:flex;
        align-items:center;
        margin-right:$s-l;
        svg{
            margin-top:-1px;
            height:22px;
        circle{
            fill:$main-color;
        }
        path{
            fill:$accent-color;
        }
        }
        h1{
            font-size: .9rem;
            letter-spacing:-.1px;
            font-weight:600;
            margin:2px 0 0 8px;
            span:first-child{
                display:none;
            }
        }
    }
    @media screen and (min-width:899px){
        .logo-uni{
            margin-right:$s-l*1.5;
        }
    }
</style>
