<template>
    <h1>
        <slot></slot>
    </h1>
</template>

<script>
    export default {
        name: "TitlePoint"
    }
</script>

<style scoped lang="scss">
    h1{
        &:after{
            content:".";
            font-size:$main-title-font-size;
            color:$main-color;
        }
    }
</style>
