<template>
        <path d="M23.26,11H4.55l5.59-5.59L8.72,4l-8,8,8,8,1.41-1.41L4.55,13H23.26Z"/>
</template>

<script>
    export default {
        name: "ArrowBack"
    }
</script>

<style scoped>

</style>
