<template>
  <div id="app">
     <MainHeader></MainHeader>
    <router-view/>
  </div>
</template>

<script>
  import MainHeader from "@/components/patterns/MainHeader"

  export default{
      name: "app",
      components: {MainHeader}
  }
</script>

<style lang="scss">
  @import '@/assets/styles/style.scss'

</style>
