// ********************************************************************************
//  MAIN STYLE   MAIN STYLE   MAIN STYLE   MAIN STYLE   MAIN STYLE   MAIN STYLE
// ********************************************************************************
// Style de base, construit en mobile first.
// Même si le style est écrit sur une seule et même page CSS. Il est construit de manière atomique
// On retoruve toujours notre structure :
//
// - BASE ET VARIABLES
// -- ELEMENTS (ensemble des éléments du site ex: boutons)
// --- BLOCKS (groupe d'éléments qui composent les pages)
// ********************************************************************************
// ********************************************************************************
//     -BASE   -BASE    -BASE    -BASE    -BASE    -BASE    -BASE    -BASE    -BASE
// ********************************************************************************
// ********************************************************************************
@import 'variables.scss';
@import 'reset.scss';

//                  -FONTS
// ---------------------------------------

html{
  font-size: 16px;
}

body {
  font-size: $body-font-size;
  line-height:1.8;
  //line-height: $body-line-height;
  color: $text-color;
  font-family: 'Montserrat',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  background: $body-color;
  transition: background .8s;
}

strong{
  color:$accent-color;
  font-weight:500;
}

h1,h2,h3,h4,h5,h6{
  color: $accent-color;
  line-height:1.2;
  font-weight:inherit;
  &.colored{
    color:$main-color;
  }
}

h1{
  font-size:$title-font-size;
  font-weight:700;
  margin:0;
  margin-bottom:$title-font-size/2;
  letter-spacing: -.6px;
  &.giant{
    font-size:$title-font-size;
  }
}
h2{
  font-size:$title-font-size;
  //line-height: $title-line-height/2;
  font-weight:500;
  margin-bottom:$s-m;
  margin-bottom:$title-font-size/1.5;
  letter-spacing:-.6px;
}
h3{
  font-size:$subtitle-font-size;
  //line-height: $subtitle-line-height/1.2;
  font-weight:500;
  margin-bottom:$s-m;
  margin-bottom: $subtitle-font-size;
  letter-spacing:-.4px;
  line-height: 1.4;
}
h4,h5,h6{
  font-weight:700;
  font-size:$little-title-font-size;
  text-transform:uppercase;
  margin-bottom: $little-title-font-size/2;
}

h1.title--big{
  font-size:17vw;
  line-height:17vw;
}

h2.title--dot{
  >.lineWrap >div:after{
    content:".";
    color: $main-color;
    font-size:$title-font-size;
    //line-height: $title-line-height;
    font-weight:700;
  }
}


p a{
  color:$accent-color;
  text-decoration:none;
  font-weight:500;
  border-bottom: 1px solid lightgrey;
  &:hover{
    color:$main-color;
    border-bottom: 1px solid $main-color;
  }
}


// The grid layout

.container{
  display:grid;
}


.container.col-s-1{
  grid-template-columns: 1fr;
}
.container.col-s-2{
  grid-template-columns: 1fr 1fr;
  >div:nth-child(odd){
    margin-right:$s-l;
  }
}
.container.col-s-3{
  grid-template-columns: 1fr 1fr 1fr;
  >div{
    margin-right:$s-l;
  }
  >div:last-child{
    margin-right:0;
  }
}


.image-full-width{
 img{
   object-fit: cover;
   width:100%;
   height: 100%;
 }
}

.lineWrap {
  overflow: hidden;
}

.splitLinesText {
  .lineWrap div {
    transform: translateY(-$body-font-size*1.2);
    transition: transform .8s ease-in-out;
    transition-delay: .3s;
  }
}

.splitLinesTitle {
  .lineWrap div {
    transform: translateY(-$title-font-size*1.2);
    transition: transform .6s ease-in-out;
  }
}

.splitLinesBigTitle {
  .lineWrap div {
    transform: translateY(-$main-title-font-size*1.2);
    transition:transform 1s ease-in-out;
  }
}

.splitLinesCaption {
  .lineWrap div {
    transform: translateY(-$caption-font-size*1.2);
  }
}

.splitLinesAccent {
  .lineWrap div {
    transform: translateY(-$accent-font-size*1.2);
  }
}

.splitLinesButton {
  .lineWrap div {
    transform: translateY(-$button-font-size*1.2);
  }
}

.splitLinesSubTitle {
  .lineWrap div {
    transform: translateY(-$subtitle-font-size*1.2);
    transition:transform 1s ease-in-out;
    //transition-delay:.2s;
  }
}

.fade{
  opacity: 0;
  transition:opacity .6s;
}

.appear {
  [class^='splitLines'].in-view,
  [class*='splitLines'].in-view {
    .lineWrap div {
      transform: translateY(0);
    }
  }
  .fade.in-view{
    opacity: 1;
  }

}


.wrap{
  padding:0 $s-m;
  &--top{
    padding:$s-m;
  }
}


a.link--line{
  &:before{
    content:"";
    position:absolute;
    display:block;
    left:-5px;
    width:calc(100% + 10px);
    transform-origin:0 0;
    transform:scaleX(0);
    height: 2px;
    top:calc(100% + 3px);
    background:$main-color;
    transition: transform .3s ease-in-out, transform-origin 0s linear .3s;
  }
  &:hover{
    color:$accent-color;
    &:before{
      transform:scaleX(1);
      transform-origin:100% 0;
    }
  }
  a.active{
    color:$main-color;
    &:hover{
      color:$main-color;
    }
  }
}

a.link{
  color: $accent-color;
  font-weight:600;
  font-size: $button-font-size;
  transition:.2s;
  &:hover{
    color:$main-color;
  }
}

a.link--dropdown{
  &:hover{
    svg{
      path,circle{
        fill: $main-color;
      }
    }
  }
  svg{
    margin-top:-3px;
    path,circle{
      fill: $text-color;
      transition:.2s;
    }
    vertical-align: middle;
    height:20px;
    width: 20px;
  }
  &.link--dropdown--up{
    svg{
      transform:rotate(180deg);
      margin-top:0;
    }
  }
}


a.link--cta{
  transition:.3s;
  position:relative;
  text-transform:uppercase;
  border:2px solid $surface-hover-color;
  padding: $s-xs $s-m;
  border-radius:100px;
  &:hover{
    background:$main-color;
    border:2px solid $main-color;
    transform:scale(1.05);
    color:white;
  }
  }


.image--full{
  >img{
    object-fit:cover;
    height:100%;
    width: 100%;
  }
}

@media screen and (min-width:380px){
  .wrap{
    padding: 0 $s-l 0 $s-l;
    &--top{
      padding: $s-m;
    }
  }
}

@media screen and (min-width:480px){

  h1{
    font-size:$main-title-font-size;
    margin-bottom:$main-title-font-size/2;
    letter-spacing: -.1rem;
  }

  .wrap{
    padding: 0 $s-xl 0 $s-xl;
    &--top{
      padding: $s-l;
    }
  }
}


@media screen and (min-width:899px) {

  h1{
    &.giant{
      font-size:$giant-title-font-size;
    }
  }

  html{
    font-size:18px;
  }

  .wrap{
    padding: 0 $s-xxl+$s-l 0 $s-xxl+$s-l;
    &--top{
      padding: $s-xxl;
    }
  }

  .container.col-m-1 {
    grid-template-columns: 1fr;
  }
  .container.col-m-2 {
    grid-template-columns: 1fr 1fr;
    > div:nth-child(odd) {
      margin-right: $s-xl;
    }
  }
  .container.col-m-3 {
    grid-template-columns: 1fr 1fr 1fr;
    > div {
      margin-right: $s-xl;
    }
    > div:last-child {
      margin-right: 0;
    }
  }
}


@media screen and (min-width:1199px){
}

@media screen and (min-width:1599px){
  html{
    font-size:18px;
  }
}
