// ********* COLORS *********

// Couleurs pour les surfaces

$main-color:#FF6720;
$main-color-light:#ff7737;
$main-color-dark: #f75f18;
$body-color:#FFF;
$grey:#EDF2F4;
$surface-color:#FAFAFA;
$surface-hover-color:#EDF2F4;
$disabled-surface-color: #9B9B9B;

// Couleurs pour la typo

$text-color:#5F6368;
$accent-color:#202124;

$text-main-color:#FF5100;

$text-contrast-color:#FAFAFA;
$accent-contrast-color:#FFFFFF;

$link-color: $main-color;

$success-color: #7ED321;
$error-color: #D0021B;
$warning-color: $main-color;

// ********* TYPO *********

$body-font-size:1rem;
//$body-line-height:1.5rem;

$subtitle-font-size:1.618rem;
//$subtitle-line-height:2.5rem;

$title-font-size:2.618rem;
//$title-line-height:4.25rem;

$main-title-font-size:4.236rem;
//$big-title-line-height:7.5rem;

$giant-title-font-size:6.854rem;

$little-title-font-size:1rem;

$accent-font-size:1rem;
//$accent-line-height:1.5rem;

$caption-font-size:.618rem;
//$caption-line-height:1rem;

$button-font-size:.8rem;
//$button-line-height:1rem;

// ********* BORDER RADIUS *********

$radius-default:4px;
$radius-big:8px;

// ********* SPACING UNITS *********

$s-xs: 0.4rem;
$s-s:0.625rem; // 10px
$s-m:1.25rem; // 20px
$s-l:2.5rem; // 40px
$s-xl:5rem; // 80px
$s-xxl:7.5rem; // 120px


// *********** SHADOWS *************

$shadow-s: rgba(0, 0, 0, 0.16) 0px 4px 8px 0px;
$shadow-m: rgba(0, 0, 0, 0.18) 0px 10px 20px 0px;
$shadow-l: rgba(0, 0, 0, 0.12) 0px 20px 40px 0px;
$shadow-orange: #ffddcb 0px 5px 20px 5px;
