<template>
        <header>
            <div class="header">
                <div class="header__menu">
                    <div>
                        <LogoUni></LogoUni>
                        <div class="list">
                            <a class="link link--dropdown" @click="toggleSubmenuItem('#references')">
                                Références
                                <svg viewBox="0 0 24 24">
                                    <path d="m7.41 8.59 4.59 4.58 4.59-4.58 1.41 1.41-6 6-6-6z"/>
                                </svg>
                            </a>
                            <router-link :to="{name: 'Services'}" class="link">Services</router-link>
                        </div>
                    </div>
                    <div>
                        <div class="call-to-action">
                            <router-link :to="{name: 'Client'}" class="link">Espace client</router-link>
                            <router-link :to="{name: 'Contact'}" class="link link--cta">Contactez-nous</router-link>
                        </div>
                        <div class="menu__button">
                            <button @click="toggleSubmenu">
                                <div></div>
                                <div></div>
                                <div></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header__submenu">
                    <div class="submenu__menu">
                        <div class="list">
                            <a href="#" class="link link--dropdown" @click="toggleSubmenuItem('#references')">
                                Références
                                <svg viewBox="0 0 24 24" style="transform:rotate(-90deg);">
                                    <path d="m7.41 8.59 4.59 4.58 4.59-4.58 1.41 1.41-6 6-6-6z"/>
                                </svg>
                            </a>
                            <router-link :to="{name: 'Services'}" class="link">Services</router-link>
                        </div>
                        <div class="call-to-action">
                            <router-link :to="{name: 'Client'}" class="link">Espace client</router-link>
                            <router-link :to="{name: 'Contact'}" class="link link--cta">Contactez-nous</router-link>
                        </div>
                    </div>
                    <div class="submenu__item" id="references">
                        <div class="back">
                            <a class="link" @click="toggleSubmenuItem('#references')">
                                <Icon><ArrowBack></ArrowBack></Icon>
                                Références
                            </a>
                        </div>
                        <div class="container col-s-1 col-m-3">
                            <div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                            </div>

                            <div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                            </div>

                            <div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                                <div class="projectList__item">
                                    <a href="#" class="link">Cftc</a>
                                    <div>2018</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="submenu__shadow" @click="toggleSubmenu"></div>
            </div>
        </header>
</template>

<script>
    import LogoUni from '@/components/elements/LogoUni'
    import Icon from '@/components/elements/Icon'
    import ArrowBack from '@/components/icons/ArrowBack'

    import debounce from 'debounce'

    export default {
        name: "MainHeader",
        components: {LogoUni,Icon,ArrowBack},
        methods: {
            toggleSubmenu: debounce(function(){
                //event.preventDefault();

                let header = document.querySelector('.header');
                let submenu = document.querySelector('.header__submenu');
                if(header.classList.contains('subMenuOpen')){
                    header.classList.remove('subMenuOpen');
                    submenu.style.maxHeight = null;

                    if(document.querySelector('.submenu__item.show')){
                        document.querySelector('.submenu__item.show').classList.remove('show');
                    }
                }
                else{
                    header.classList.add('subMenuOpen');
                    submenu.style.maxHeight = submenu.scrollHeight + "px";
                }
            }, 50),
            toggleSubmenuItem: debounce(function(itemid){
                // Empêche le lien de fonctionner
                //event.preventDefault();

                // cherche l'item qui possède l'id du lien
                let item = document.querySelector(itemid);

                //Vérifie si l'item demandé n'est pas déjà ouvert, auquel cas on le referme
                if(item.classList.contains('show')){
                    if (window.matchMedia("(min-width: 899px)").matches) {
                      this.toggleSubmenu();
                    }
                    item.classList.remove('show');
                    window.setTimeout(function(){
                        item.style.visibility = "hidden";
                        document.querySelector('.submenu__shadow').style.display = "none";
                    },50);
                }
                else{
                    if (window.matchMedia("(min-width: 899px)").matches) {
                        this.toggleSubmenu();
                    }
                    item.style.visibility = "visible";
                    item.classList.add('show');
                    document.querySelector('.submenu__shadow').style.display = "block";
                }

            },50 ),
            detectScrollTop(){
                document.addEventListener('scroll', function(){
                    let header = document.querySelector('.header');
                    if(window.scrollY > 80 && !header.classList.contains('show')){
                        header.classList.add('show');
                    }
                    else if(window.scrollY < 80 && header.classList.contains('show')){
                        header.classList.remove('show');
                    }
                })
            }
        },
        mounted: function () {
            this.detectScrollTop()
        }
    }

</script>

<style scoped lang="scss">
    .headerSpacer{
        height:80px;
        width: 100%;
    }
    .header{
        position:fixed;
        z-index:10;
        width: 100%;
        transition: box-shadow .4s ease-in-out;
        // menu ( la barre du haut )
        &.show{
            box-shadow: $shadow-s;
        }
        .link{
            font-size:$body-font-size;
        }
        &__menu{
            transition: box-shadow .2s ease-in-out;
            background:white;
            z-index:20;
            position: relative;
            height:60px;
            display:flex;
            align-items: center;
            width: 100%;
            justify-content:space-between;
            padding:$s-s $s-m;
            .list{
                display:none;
            }
            .call-to-action{
                display:none;
            }
            .menu__button{
                position:relative;
                >button{
                    padding:$s-s 0 $s-s $s-s;
                    outline:none;
                    transition:.4s ease-in-out;
                    >div:nth-child(2){
                        transition:.2s;
                    }
                    div{
                        height:2px;
                        width:22px;
                        background: $accent-color;
                        transition:.3s ease-in-out;
                        margin-bottom:4px;
                    }
                }
            }
        }
        // Submenu ( la partie qui s'ouvre sur mobile et sur desktop )
        &__submenu{
            height:calc(100vh - 60px);
            width: 100%;
            background: white;
            max-height:0;
            overflow:hidden;
            position: relative;
            transition: max-height 0.2s ease-out;
            .submenu__menu{
                z-index:20;
                position: relative;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                height: calc(100vh - 60px);
                padding:$s-m;
                >div{
                    display:flex;
                    flex-direction: column;
                }
                .list{
                    padding:$s-m;
                    .link{
                        margin-bottom:$s-l;
                    }
                }
                .call-to-action{
                    align-items: center;
                    >.link:first-child{
                        margin-bottom:$s-m;
                    }
                    .link--cta{
                        font-size: $button-font-size;
                    }
                }
            }
            .submenu__item{
                z-index:20;
                width: 100%;
                height: 100%;
                background: white;
                opacity:0;
                visibility:hidden;
                overflow-y: scroll;
                position:absolute;
                top:0;
                transition:opacity .2s ease-in-out,transform .2s ease-in-out;
                padding:$s-m $s-m*2 0 $s-m*2;
                transform:translateX(100px);
                >.container{
                    >div{
                        display:flex;
                        flex-direction: column;
                    }
                }
                .back{
                    margin:$s-m 0 $s-l 0;
                    .link{
                      display:flex;
                        align-items:center;
                        .icon{
                            width:$s-l;
                            svg{
                                height:20px;
                                width: 20px;
                                path{
                                    fill:$text-color;
                                }
                            }
                        }
                    }
                }

                // ouverture du submenu items

                &.show{
                    transform:translateX(0px);
                    opacity:1;
                }


            }
            .submenu__shadow{
                display:none;
            }
        }

        // Ouverture du submenu

        &.subMenuOpen{
            .header__menu{
                .menu__button{
                    >button{
                        div:first-child{
                            transform:rotate(-45deg) translate(-4px, 5px);
                        }
                        div:nth-child(2){
                            opacity:0;
                        }
                        div:last-child{
                            transform:rotate(45deg) translate(-3px, -5px);
                        }
                    }
                }
            }

            .header__submenu{
                visibility:visible;
            }
        }
    }


    // Pour les écrans

    @media screen and (min-width:899px){

        .header{
            &.show{
                .header__menu{
                    background:white;
                }
            }
            &.subMenuOpen{
                .header__menu{
                    background:white;
                }
            }
            .link{
                font-size: $button-font-size;
                &.link--cta{
                    font-size: $caption-font-size;
                }
            }
            &__menu{
                background: transparent;
                padding:$s-m $s-l;
                height:80px;
                display:flex;
                align-items:center;
                >div:first-child{
                    display:flex;
                    align-items:center;
                }
                .list{
                    margin-right:$s-l;
                    display:block;
                    a{
                        color: $accent-color;
                        font-weight:600;
                        font-size: $button-font-size;
                        margin-right:$s-m;
                        transition:.2s;
                        position:relative;
                        &:last-child{
                            margin-right:0;
                        }
                        &:hover{
                            color:$main-color;
                            svg{
                                path{
                                    fill:$main-color;
                                }
                            }
                        }
                        svg{
                            transition:.2s;
                            height: 1rem;
                            width: 1rem;
                            vertical-align: middle;
                        }
                    }
                }
                .call-to-action{
                    display:flex;
                    height:40px;
                    align-items:center;
                    >a:first-child{
                        margin-right:$s-m;
                    }
                }
            }
            &__logo{
                svg{
                    height:$s-m*1.2;
                }
                margin-top:4px;
            }

            &__submenu{
                .submenu__menu{
                    height:330px;
                    >div{
                        display:none;
                    }
                }
                .submenu__item{
                    transform:none;
                    .back{
                        display:none;
                    }
                    &.show{
                        transform:none;
                        opacity:1;
                    }
                }
            }
        }

        .menu__button{
            display:none;
        }

        .submenu__shadow{
            position:absolute;
            z-index:10;
            height:100vh;
            width: 100vw;
            top:0;
            left:0;
            cursor:pointer;
            background:$text-color;
            opacity:0;
            display:none;
        }

        &.subMenuOpen{
            .submenu__shadow{
                opacity:.4;
                display:block;
            }
        }
    }


</style>
